/*-- scss:defaults --*/

@font-face {
  font-family: "Renogate" !important;
  src: local("Fonts/Renogare-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Minecraft" !important;
  src: local("Fonts/Minecraft.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

// Vertical spacing between blocks of text
$smallMargin: 5px;
$blockMargin: 10px;
$largeMargin: 20px;

// Colors
$white: #ffffffff;

$brownDark: #8a554e;
$brownLight: #bc7052;

$beigeDark: #ae8a7b;
$beigeLight: #e6b482;

$blueDark: #242531;
$blueLight: #52758f;

$greenDark: #5d7841;
$greenLight: #9bc058;

$color-body: $blueDark !default;
$backgroundColor: $beigeLight !default;

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.strike {
  text-decoration: line-through;
}

.text-pixel-font {
  font-family: "Minecraft";
}

.text-color-white {
  color: $white;
}

.text-color-brown-dark {
  color: $brownDark;
}

.text-color-brown-light {
  color: $brownLight;
}

.text-color-beige-dark {
  color: $beigeDark;
}

.text-color-beige-light {
  color: $beigeLight;
}

.text-color-blue-dark {
  color: $blueDark;
}

.text-color-blue-light {
  color: $blueLight;
}

.text-color-green-dark {
  color: $greenDark;
}

.text-color-green-light {
  color: $greenLight;
}

.text-background-white {
  background-color: $white;
  color: $backgroundColor;
}

.text-background-brown-dark {
  background-color: $brownDark;
  color: $backgroundColor;
}

.text-background-brown-light {
  background-color: $brownLight;
  color: $backgroundColor;

}

.text-background-beige-dark {
  background-color: $beigeDark;
  color: $backgroundColor;
}

.text-background-beige-light {
  background-color: $beigeLight;
  color: $backgroundColor;
}

.text-background-blue-dark {
  background-color: $blueDark;
  color: $backgroundColor;
}

.text-background-blue-light {
  background-color: $blueLight;
  color: $backgroundColor;
}

.text-background-green-dark {
  background-color: $greenDark;
  color: $backgroundColor;
}

.text-background-green-light {
  background-color: $greenLight;
  color: $backgroundColor;
}

.textcenter {
  text-align: center;
}


// Typography
$mainFont: "Renogate", sans-serif !default;
$mainFontSize: 30px;
$body-line-height: 1.5;

$headingMargin: 0;
$headingFont: "Minecraft" !default;
$headingLineHeight: 1.2;
$headingLetterSpacing: normal;
$headingTextShadow: none;
$headingFontWeight: normal;

$heading1Size: 3.77em;
$heading2Size: 2.11em;
$heading3Size: 1.55em;
$heading4Size: 1em;

// Layout
$content-max-width: 900px;

/*-- scss:rules --*/

/* General text styling */
body {
  font-family: $mainFont;
  font-size: $mainFontSize;
  line-height: $body-line-height;
  color: $color-body;
  background-color: $backgroundColor !important;
}

a {
  color:  $greenDark !important;
  text-decoration: none;

  &:hover {
     color: $greenDark !important;
     background-color: $white !important;
  }
}

/* Headings */
h1,
.reveal h1 {
  font-family: $headingFont;
  color: $white;
  font-size: $heading1Size;
  line-height: $headingLineHeight;
  letter-spacing: $headingLetterSpacing;
  font-weight: $headingFontWeight;
  margin-top: $largeMargin;
  text-shadow: 3px 4px 5px $blueDark;
}

h2,
.reveal h2 {
  font-family: $headingFont;
  color: $blueLight;
  font-size: $heading2Size;
  line-height: $headingLineHeight;
  letter-spacing: $headingLetterSpacing;
  font-weight: $headingFontWeight;
  margin-top: $blockMargin;
}

h3,
.reveal h3 {
  font-family: $headingFont;
  color: $blueDark;
  font-size: $heading3Size;
  line-height: $headingLineHeight;
  letter-spacing: $headingLetterSpacing;
  font-weight: $headingFontWeight;
  margin-top: $smallMargin;
}

/* Code block */
code {
  $code-color: $blueDark !default;
  background-color: darken($backgroundColor, 20%);
  padding: $smallMargin;
  border-radius: 5px;
}

/* List styling */
ul {
  padding-left: 0;
  margin-left: $blockMargin;
}

/* Slide content layout */
.reveal .slides {
  max-width: $content-max-width;
  margin: auto;
  padding: 0 $smallMargin;
}

/* Constrain figures and other large block elements */
.reveal .slides img,
.reveal .slides figure,
.reveal .slides video,
.reveal .slides .reveal-image {
  max-width: 100%;
  width: auto;
  height: auto;
  display: block;
  margin: 0 auto;
  box-sizing: border-box;
}

/* Specialised sections */
.reveal .title {
  color: $backgroundColor;
  background-color: $blueDark;
  text-align: center;
}

.reveal .subtitle {
  color: $backgroundColor;
  background-color: $blueLight;

  text-align: center;
}

.reveal .inverse {
  background-color: $color-body;
  color: $backgroundColor;
}

/* Blockquote */
.reveal .blockquote {
  font-style: italic;
  border-left: 6px solid $blueLight;
  padding: $smallMargin;
  border-radius: 25px;
  border-top: 3px solid $beigeDark;
  border-bottom: 3px solid $beigeDark;
  border-right: 3px solid $beigeDark;
  background-color: $blueLight;
  transition:
    background-color 0.3s ease,
    border-color 0.3s ease;
}
